@font-face {
  font-family: 'OpenDyslexic';
  src: url('../../public/fonts/OpenDyslexic3-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'Lato';
  src: url('../../public/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../public/fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'Open Sans';
  src: url('../../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'Oswald';
  src: url('../../public/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../public/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../../public/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../public/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}