.pages {
    width: 100%;
    max-height: 100%;
    height: auto;
  }
  
  .page {
    backface-visibility: hidden;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .cover {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Responsive adjustments */

  /*ANIMACIONES DE LA PAGINA CUANDO CAMBIA*/

.swing-left{-webkit-animation:flip-out-ver-left .5s cubic-bezier(.55,.085,.68,.53) both;animation:flip-out-ver-left .5s cubic-bezier(.55,.085,.68,.53) both}
.swing-right{-webkit-animation:flip-out-ver-right .5s cubic-bezier(.55,.085,.68,.53) both;animation:flip-out-ver-right .5s cubic-bezier(.55,.085,.68,.53) both}

@-webkit-keyframes flip-out-ver-left{0%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}100%{-webkit-transform:rotateY(-70deg);transform:rotateY(-70deg);opacity:0}}@keyframes flip-out-ver-left{0%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}100%{-webkit-transform:rotateY(-70deg);transform:rotateY(-70deg);opacity:0}}
@-webkit-keyframes flip-out-ver-right{0%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}100%{-webkit-transform:rotateY(70deg);transform:rotateY(70deg);opacity:0}}@keyframes flip-out-ver-right{0%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}100%{-webkit-transform:rotateY(70deg);transform:rotateY(70deg);opacity:0}}